@{
    ViewData["Title"] = "Nethermind";
}

<div class="row">
    <div class="col-lg-12">
        <img src="images/nethermind_logo.png" class="img-fluid"/>
        <h4>.NET Core Ethereum client for Linux, Windows, MacOs - fully and actively <a href="https://github.com/NethermindEth/nethermind">developed</a>.</h4>
    </div>
</div>